<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <meta charset="utf-8">
    <title>Personal Improvement</title>

    <script type="text/javascript" src="/assets/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/homecontroller.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/addcontrollers.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/showcontrollers.js"></script>
    <script type="text/javascript" src="/assets/scripts/factories.js"></script>

  </head>
  <body>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#add">Compose</a></li>
      <li><a href="#diary">Diary</a></li>
      <li><a href="#vocabulary">Vocabulary</a></li>
      <li><a href="#exercise">Exercise</a></li>
      <a href="/">Sign Out</a>
    </ul>

    <main ng-view>

    </main>
  </body>
</html>
