  <md-content layout-padding>
      <div style="width : 600px; margin: 0 auto;">
        <h1>
          Exercise list:
        </h1>
        <div ng-repeat="exercise in exerciseEnterd.response">

            <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Exercise Type: {{ exercise.type }}</span>
                  </md-card-title-text>
                </md-card-title>

                <md-card-content>
                  <div>
                    <p>
                        Exercise Day: {{ exercise.time}}
                    </p>
                  </div>
                  <div>
                    <p>
                      Exercise Duration: {{ exercise.duration }} mins
                    </p>
                  </div>
                  <div>
                    <p>
                        Mood: {{ exercise.mood }}
                    </p>
                  </div>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="deleteEercise(exercise)">Delete</md-button>
                </md-card-actions>
            </md-card>
          </div>
        </div>
    </md-content>
