  <md-content layout-padding>
      <div style="width : 1000px; margin: 0 auto;">
        <h1>
          Exercise List:
        </h1>
        <table st-table="exerciseEntered" class="table table-striped" id="exerciseShowTable">
          <thead>
            <tr md-row>
              <th md-column >Date</th>
              <th md-column >Type</th>
              <th md-column >Duration</th>

              <th md-column >Mood</th>
              <th md-column >Action</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr ng-repeat="exercise in exerciseEntered.response">
              <td md-cell>{{exercise.time | date:'M/d/yyyy'}}</td>
              <td md-cell>{{exercise.type}}</td>
              <td md-cell>{{exercise.duration}}</td>
              <td md-cell>{{exercise.mood}}</td>
              <td md-button class="md-primary md-warn" ng-click="deleteEercise(exercise)">delete</td md-button>
            </tr>
          </tbody>
        </table>

        </div>
    </md-content>
