  <md-content layout-padding>
      <div style="width : 1000px; margin: 0 auto;">
        <h1>
          Exercise List:
        </h1>
        <md-table-container>
        <table md-table md-row-select multiple ng-model="exercise" id="exerciseShowTable">
          <thead md-head md-order ="myOrder">
            <tr md-row>
              <th md-column md-order-by="nameToLower"><span>Date</span></th>
              <th md-column >Type</th>
              <th md-column ><span>Duration</span></th>

              <th md-column >Mood</th>
              <th md-column >Action</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="exercise" md-select-id="name" md-auto-select ng-repeat="exercise in exerciseEnterd.response | orderBy: myOder">
              <td md-cell>{{exercise.time | date:'M/d/yyyy'}}</td>
              <td md-cell>{{exercise.type}}</td>
              <td md-cell>{{exercise.duration}}</td>
              <td md-cell>{{exercise.mood}}</td>
              <td md-button class="md-primary md-warn" ng-click="deleteEercise(exercise)">delete</td md-button>
            </tr>
          </tbody>
        </table>
      </md-table-container>

        </div>
    </md-content>
